table.licenses tr td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
table.license.active td, table.licenses tr.active td {
    background-color: #dff0d8;
}
table.license.suspended td, table.licenses tr.suspended td {
    background-color: #f2dede;
}
table.license.active {
    border-color: #dff0d8;
}
table.license.suspended {
    border-color: #f2dede;
}